{% extends "modal/base/template.html" %}

{% block "modal-content" %}
  <div class="modal-header">
    <h5 class="modal-title">{% slot "modal-title" %}{% endslot %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% component "form" form=form %}{% endcomponent %}
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
{% endblock %}